{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class='logo' />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>
<main class="container">
<form class="form-card2" method="post">
  {% csrf_token %}
    <input
      class="form-card-title"
      type="text"
      name="titulo"
      placeholder="Título"
      value = {{nota.title}}
    />
    <textarea
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteúdo..."
    >{{nota.content}}</textarea>
    <button class="btn" type="submit">Editar</button> 
</form>

{% endblock %}