{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class='logo' />
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>
<main class="container">
{% csrf_token %}
<h3 class="titulo-lista"> LISTA DAS TAGS </h3>

<div class="card-container2">
  {% for atag in notes %}
    <div class="card">
      <div class = "tag2">
        <p>
            {{atag.texto}}
        </p>
      </div>
    </div>
  {% endfor %}
</div>



</main>

{% endblock %}